/* admin-styles.scss -- admin stylesheet */


/* ---------- imports ---------- */
@import 'modules/mixins';


/* ---------- admin elements ---------- */
.admin, .admin-new, .admin-edit {
background: var(--c-background-admin);

    header, main, footer {
        background: var(--c-background-admin);
    }
}

.admin-new, .admin-edit {
    background: var(--c-background-admin);
}

#admin-post-link {
    z-index: 210;
    position: fixed;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: calc(var(--s-base-margin) / 2);
    width: var(--f-size-large);
    height: var(--f-size-large);
    color: var(--c-link-lv);
    transition: all 0.5s ease-in-out;

    &:hover {
        cursor: pointer;
        color: var(--c-link-ha);
    }

    svg {
        fill: var(--c-background);
        width: var(--f-size-large);
    }
}

#admin-post-form {
    form {
        border: 0;
        border-radius: var(--s-border-radius);
        box-shadow: 0 0 1rem 0 var(--c-shadow);

        input, select, textarea {
            padding-block-start: calc(var(--s-base-margin) / 4);
            padding-block-end: calc(var(--s-base-margin) / 4);
            padding-inline-start: calc(var(--s-base-margin) / 2);
            padding-inline-end: calc(var(--s-base-margin) / 2);
            background: var(--c-background);
            border: 0;
        }

        input {
            &[type=file] {
                font-size: 0;
                display: none;
            }
        }

        label {
            display: inline-block;
            font-size: var(--f-size-small);

            &#custom-upload {
                display: inline-block;
                text-align: center;
                border: 1px solid var(--c-borders);
                border-radius: var(--s-border-radius);
                padding-block-start: calc(var(--s-base-margin) / 4);
                padding-block-end: calc(var(--s-base-margin) / 4);
                padding-inline-start: calc(var(--s-base-margin) / 2);
                padding-inline-end: calc(var(--s-base-margin) / 2);
                color: var(--c-text-muted);
                background: var(--c-bg-alt);
                transition: all .5s ease;
            }
        }

        span {
            &#custom-upload-display {
                display: inline-block;
                color: var(--c-text);
                font-size: var(--f-size-small);
            }
        }

        #admin-post-form-text {
            border-radius: var(--s-border-radius);
            background: var(--c-background);
        }

        #admin-post-form-meta, #admin-post-form-options {
            background: var(--c-background);
            border-radius: var(--s-border-radius);
            padding-block-end: calc(var(--s-base-margin) / 2);
            padding-inline-start: calc(var(--s-base-margin) / 2);
            padding-inline-end: calc(var(--s-base-margin) / 2);
        }

        #admin-post-form-meta {
            summary {
                height: 1.25rem;
                line-height: 1.25rem;
                list-style: none;
                font-size: var(--f-size-xsmall);
                color: var(--c-text-muted);
                cursor: pointer;

                &::-webkit-details-marker {
                    display:none;
                }

                &:focus {
                    outline: none;
                }

                &:after {
                    content: "→";
                }

                #admin-text-chars {
                    display: inline-block;
                    padding-inline-start: 0.5rem;
                    padding-inline-end: 0.5rem;
                    font-size: var(--f-size-xsmall);
                    text-align: right;
                    min-width: 2.5rem;
                    height: 1.25rem;
                    line-height: 1.25rem;
                    border-radius: 0.625rem;
                    background: var(--c-background-alt);
                    color: var(--c-text-muted);
                }
            }

            &[open] {
                summary {
                    margin-block-end: calc(var(--s-base-margin) / 2);

                    &:after {
                        content: "↓";
                    }
                }
            }

            #admin-note-meta-content {
                display: flex;
                flex-flow: column wrap;
                gap: calc(var(--s-base-margin) / 2);

                input, select, textarea {
                    width: 100%;
                    border: 1px solid var(--c-borders);
                }

                select, option {
                    font-size: var(--f-size-small);
                }

                #admin-note-meta-photo, #admin-note-meta-content-status {
                    display: flex;
                    flex-flow: row wrap;
                    gap: calc(var(--s-base-margin) / 2);

                    div {
                        flex: 1 0 0;
                    }
                }

                #admin-note-meta-photo {
                    max-height: 3.40625rem;  // I don't know why this is necessary
                }
            }
        }

        #admin-post-form-options {
            display: flex;
            flex-flow: row-reverse wrap;
            justify-content: flex-end;
            align-items: center;
            column-gap: var(--s-base-margin);
            row-gap: calc(var(--s-base-margin) / 2);

            #admin-post-form-options-external {
                display: flex;
                flex-flow: row wrap;
                flex-grow: 1;
                justify-content: flex-start;
                column-gap: var(--s-base-margin);
            }
        }
    }
}
