<div class="e-content">
    <section>
        <div class="p-summary">
        {% if item.content_meta.description %}
            {{ item.content_meta.description }}
        {% else %}
            <p>I didn&#8217;t write a description for this activity. 🤷🏻‍♂️</p>
        {% endif %}
        </div>
    </section>

    <section>
        {% if item.content_meta.map.polyline %}
            <div id="map"></div>
        {% else %}
            <div id="no-map"><img src="{% static 'img/nomap_sq.png' %}" alt="No map available for &#8216;{{ item.content_meta.name }}&#8217;" loading="lazy"></div>
        {% endif %}
    </section>

    <section class="activity-detail grid two">
        <div class="activity-info">
            <h4>Date</h4>
            <p><time class="dt-published" datetime="{{ item.content_meta.start_date_local|date:"Y-m-d\TH:i:sO" }}">{{ item.content_meta.start_date_local|date:"F j, Y \a\t g:ia" }}</time></p>

            <h4>Device</h4>
            <p>{{ item.content_meta.device_name }}</p>

            {% if item.content_meta.weather.temperature %}
            <h4>Conditions</h4>
            <p>
                {{ item.content_meta.weather.summary|sentencecase }},
                <span class="units units-si show">{{ item.content_meta.weather.temperature|floatformat:"0" }}&#176;C,</span>
                <span class="units units-us hide">{{ item.content_meta.weather.temperature|c_to_f|floatformat:"0" }}&#176;F,</span>
                {{ item.content_meta.weather.humidity|percent|floatformat:"0" }}% humidity.
                Wind from the {{ item.content_meta.weather.windBearing|winddir|lower }} at
                <span class="units units-si show">{{ item.content_meta.weather.windSpeed|floatformat:"1" }}km/h.</span>
                <span class="units units-us hide">{{ item.content_meta.weather.windSpeed|kph_to_mph|floatformat:"1" }}mph.</span>
            </p>
            {% endif %}

            {% if item.content_meta.start_latlng %}
            <p class="p-location h-geo" hidden>
              <span class="p-latitude">{{ item.content_meta.start_latlng|lat }}</span>,
              <span class="p-longitude">{{ item.content_meta.start_latlng|lng }}</span>
            </p>
            {% endif %}
        </div>

        <div class="activity-data grid five">

            <div>
                <h4>Distance</h4>
                <p>
                    <span class="units units-si show">{{ item.content_meta.distance|m_to_km|floatformat:"1" }}km</span>
                    <span class="units units-us hide">{{ item.content_meta.distance|m_to_mi|floatformat:"1" }}mi</span>
                </p>
            </div>

            <div>
                <h4>Time</h4>
                <p>{{ item.content_meta.moving_time|activitytime }}</p>
            </div>

            <div>
                <h4>Avg {% if item.content_meta.type == 'Run' %}Pace{% else %}Speed{% endif %}</h4>
                {% if item.content_meta.type == 'Run' %}
                <p>
                    <span class="units units-si show">{{ item.content_meta.average_speed|ms_to_minkm }}/km</span>
                    <span class="units units-us hide">{{ item.content_meta.average_speed|ms_to_minmi }}/mi</span>
                </p>
                {% else %}
                <p>
                    <span class="units units-si show">{{ item.content_meta.average_speed|ms_to_kph|floatformat:"1" }}km/h</span>
                    <span class="units units-us hide">{{ item.content_meta.average_speed|ms_to_mph|floatformat:"1" }}mph</span>
                </p>
                {% endif %}
            </div>

            {% if item.content_meta.average_heartrate %}
            <div>
                <h4>Avg <abbr title="Heartrate">HR</abbr></h4>
                <p>{{ item.content_meta.average_heartrate }}</p>
            </div>

            <div>
                <h4>Max <abbr title="Heartrate">HR</abbr></h4>
                <p>{{ item.content_meta.max_heartrate }}</p>
            </div>
            {% endif %}

            {% if item.content_meta.suffer_score %}
            <div>
                <h4>Relative Effort</h4>
                <p>{{ item.content_meta.suffer_score }}</p>
            </div>
            {% endif %}

            {% if item.content_meta.calories != 0 %}
            <div>
                <h4>Calories</h4>
                <p>{{ item.content_meta.calories|floatformat:"0" }}</p>
            </div>
            {% endif %}

            {% if item.content_meta.total_elevation_gain != 0 %}
            <div>
                <h4>Elevation Gain</h4>
                <p>
                    <span class="units units-si show">{{ item.content_meta.total_elevation_gain|floatformat:"0" }}m</span>
                    <span class="units units-us hide">{{ item.content_meta.total_elevation_gain|m_to_ft|floatformat:"0" }}ft</span>
                </p>
            </div>
            {% endif %}
        </div>
    </section>
</div>

{% if item.content_meta.map.polyline %}
    <script nonce="{{ request.csp_nonce }}">
        window.addEventListener('DOMContentLoaded', (event) => {
            mapboxgl.accessToken = 'pk.eyJ1IjoiY2FtcGVnZyIsImEiOiJja2ZsdmI3ODUwdGM5MnFxcjV0dGlkZmU1In0.ctPEszjW1zyWMaSx9C6bMA';
            const map = new mapboxgl.Map({
                container: 'map',
                style: 'mapbox://styles/campegg/ck9hshhx65ris1imlr9vf12ml',
                center: {{ item.content_meta.start_latlng|lnglat }},
                zoom: 4
            });

            var geojson = {
                'type': 'FeatureCollection',
                'features': [
                    {
                        'type': 'Feature',
                        'properties': {},
                        'geometry': {
                            'type': 'LineString',
                            'coordinates': {{ location }}
                        }
                    }
                ]
            };

            map.on('load', function() {
                map.addSource('LineString', {
                    'type': 'geojson',
                    'data': geojson
                });

                map.addLayer({
                    'id': 'LineString',
                    'type': 'line',
                    'source': 'LineString',
                    'layout': {
                        'line-join': 'round',
                        'line-cap': 'round'
                    },
                    'paint': {
                        'line-color': '#d32f2f',
                        'line-width': 3,
                        'line-opacity': 0.66
                    }
                });

                map.addControl(new mapboxgl.NavigationControl({
                    'showCompass': false
                }));

                var coordinates = geojson.features[0].geometry.coordinates;
                var bounds = coordinates.reduce(function(bounds, coord) {
                    return bounds.extend(coord);
                }, new mapboxgl.LngLatBounds(coordinates[0], coordinates[0]));

                map.fitBounds(bounds, {
                    padding: 24
                });
            });
        });
    </script>
{% endif %}
