{% load static %}

<section>
    <p>This isn&#8217;t really a blogroll in the traditional sense, but a list of the feeds I subscribe to, which is close enough. I&#8217;ve been a big consumer of <span class="caps">RSS</span> since forever&#8230; when I got my first Mac back in 2003, the very first piece of software I bought was <a href="https://netnewswire.com">NetNewsWire</a> (which is now free, and still awesome). Since then, I&#8217;ve used a bunch of different services and readers, but have been using the <a href="https://feedbin.com">Feedbin</a>/<a href="https://reederapp.com">Reeder</a> combo for quite a few years now. The list below is pulled from the Feedbin <span class="caps">API</span>, so is always an up-to-date view into what I&#8217;m&nbsp;reading. And if you want, you can <a href="{% url 'blogroll_opml' %}">download this list as an OPML file</a> and import it directly into your own feed reader.</p>
</section>

{% regroup feeds by category as feed_list %}
{% for category in feed_list %}
<section class="feed-group">
    <h3>{{ category.grouper }}</h3>
    <ul class="list-blogroll">
    {% for feed in category.list %}
        <li>
            <a class="u-url" href="{{ feed.site_url }}"><span class="p-name">{{ feed.title }}</span></a>&nbsp;<a class="u-url" href="{{ feed.feed_url }}"><span class="icon-svg xsmall">{% inline_svg 'img/rss.svg' %}</span></a>
        </li>
    {% endfor %}
    </ul>
</section>
{% endfor %}
