<article class="{% if post.post_type == 2 %}photo{% elif post.post_type == 1 %}post{% else %}note{% endif %}{% if 'post' not in request.resolver_match.view_name %} h-entry{% endif %}">
    {% if post.post_type == 1 %}
    <h2 class="p-name"><a class="u-url" href="{{ post.get_absolute_url }}">{{ post.title }}</a></h2>
    {% endif %}
    <div class="e-content">
        {% if post.post_type == 2 %}
        <p><img src="{{ request.scheme }}://{{ request.get_host }}{{ post.photo.url }}" alt="{{ post.photo_alt_text|escape }}"></p>
        {% endif %}
        {{ post.html|safe }}
    </div>
    <p class="meta permalink">
        <a class="u-url" href="{{ post.get_absolute_url }}">
            <time class="dt-published p-name" datetime="{{ post.publish_date|date:"Y-m-d\TH:i:sO" }}">{{ post.publish_date|date:"F j, Y" }}</time>
        </a>
        {% if user.is_authenticated %}<a class="icon-svg small post-edit" href="{% url 'admin_edit' year=post.publish_date.year month=post.publish_date.month day=post.publish_date.day slug=post.slug %}" title="Edit this post">{% inline_svg 'img/edit.svg' %}</a>{% endif %}
    </p>
</article>

{% if request.resolver_match.view_name == 'post_detail' %}
<script>
document.addEventListener("DOMContentLoaded", () => {
    async function getMentions() {
        try {
            const path = window.location.pathname;
            const response = await fetch(`/webmentions/get?url=${encodeURIComponent(path)}`);
            if (!response.ok) {
                throw new Error(`HTTP error! status: ${response.status}`);
            }
            const data = await response.json();
            const mentions = data.mentions;

            if (Array.isArray(mentions) && mentions.length > 0) {
                const mentionsDiv = document.getElementById("mentions");

                const heading = document.createElement("h3");
                heading.textContent = "Mentions";
                heading.title = "When someone responds to one of my posts and sends a webmention, it will be displayed here.";
                mentionsDiv.appendChild(heading);

                const ul = document.createElement("ul");
                mentions.forEach(mention => {
                    const li = document.createElement("li");
                    const a = document.createElement("a");
                    const img = document.createElement("img");

                    a.href = mention.source_url;
                    img.src = mention.hcard.avatar;
                    img.className = "mention_avatar";
                    img.alt = mention.hcard.name + "'s avatar";

                    a.appendChild(img);
                    a.appendChild(document.createTextNode(" " + mention.hcard.name));
                    li.appendChild(a);
                    ul.appendChild(li);
                });

                mentionsDiv.appendChild(ul);
            }
        } catch (error) {
            console.error("Error fetching mentions:", error);
        }
    }
    getMentions();
});
</script>
<div id="mentions"></div>
{% endif %}
