{% regroup items by date_only as grouped_objects %}

{% for group in grouped_objects %}
    <h3>{{ group.grouper|date:"F j, Y" }}</h3>
    <ul>
    {% for item in group.list %}
        <li>
            <span class="date reaction-date">{{ item.create_date|date:"g:ia"|cut:"." }}</span>:
            {% if item.content_type == "like" %}
                liked a <a class="u-like-of" href="{{ item.content_meta.url }}">post</a> by <a href="{{ item.content_meta.json.account.url }}">@{{ item.content_meta.json.account.acct }}</a>
            {% elif item.content_type == "reply" %}
                replied to a <a class="u-reply-to" href="{{ item.content_meta.url }}">post</a> by<a href="{{ item.content_meta.json.account.url }}">@{{ item.content_meta.json.account.acct }}</a>
            {% elif item.content_type == "repost" %}
                reposted a <a class="u-repost-of" href="{{ item.content_meta.url }}">post</a> by <a href="{{ item.content_meta.json.account.url }}">@{{ item.content_meta.json.account.acct }}</a>
            {% endif %}
        </li>
    {% endfor %}
    </ul>
{% endfor %}
