<article class="h-entry">
    {% if item.content_meta.markdown %}<!-- pre-rebuild repost -->
        <div class="e-content">
            {{ item.content_meta.html|safe }}
        </div>
    {% else %}<!-- post-rebuild repost -->
        <p class="reaction-meta"><span class="icon-svg small">{% inline_svg 'img/repost.svg' %}</span> Reposted <a class="u-repost-of" href="{{ item.content_meta.json.url }}">a post</a> by <a href="{{ item.content_meta.json.account.url }}">@{{ item.content_meta.json.account.acct }}</a>:</p>
        <div class="e-content">
            <blockquote>
                {{ item.content_meta.json.content|safe }}
            </blockquote>
        </div>
    {% endif %}
    {% include "includes/permalink.html" %}
    {% if mentions %}
        {% include "includes/mentions.html" %}
    {% endif %}
</article>
