{% spaceless %}
    {% if obj.rss_only == 1 %}
        <p><strong>Welcome to RSS Club!</strong> This post is exclusively for readers of my RSS feeds. <a href="https://daverupert.com/rss-club/">Learn more&#8230;</a></p><br><hr><br>
    {% endif %}
    {% if obj.post_type == 2 %}
        <p><img src="{{ request.scheme }}://{{ request.get_host }}/media/{{ obj.photo }}" alt="{{ obj.photo_alt_text|escape }}"></p>
    {% endif %}
    {% if obj.html is not None %}
        {{ obj.html|safe }}
    {% endif %}
    <br><hr><br>
    <p><small>Reply via <a href="mailto:cam@campegg.com">email</a> or <a href="https://mastodon.social/@campegg">Mastodon</a>.</small></p>
{% endspaceless %}
