<div id="heat-map" data-heat-options="bindingOptions"></div>

<script nonce="{{ request.csp_nonce }}">
$heat.setConfiguration({
    safeMode: false,
    backButtonText: "←",
    nextButtonText: "→"
});

const bindingOptions = () => ({
    showTitle: false,
    showGuide: false,
    showYearSelectionDropDown: false,
    mapTogglesEnabled: false,
    allowFileImports: false,
    showLessAndMoreLabels: false,
    dayToolTipText: "{mmmm} {d}, {yyyy}",
    views: {
        map: { showDayNumbers: true, showDayNames: true, showMonthDayGaps: false },
        chart: { enabled: false },
        statistics: { enabled: false }
    },
    colorRanges: [
        { minimum: 1, cssClassName: "day-color-1" },
        { minimum: 2, cssClassName: "day-color-2" },
        { minimum: 3, cssClassName: "day-color-3" },
        { minimum: 4, cssClassName: "day-color-4" },
        { minimum: 5, cssClassName: "day-color-5" }
    ]
});

document.addEventListener("DOMContentLoaded", () => {
    const datesList = {{ date_list|safe }};
        datesList.forEach(dateStr => {
            $heat.addDate("heat-map", new Date(dateStr), null, false);
        });
        $heat.refreshAll();
    });
</script>

<ul>
    <li><a href="{% url 'admin_post_new' %}">New post</a></li>
    <li><a href="{% url 'admin_page_new' %}">New page</a></li>
    <li><a href="{% url 'admin_reaction_new' %}">New reaction</a></li>
    <li><a href="/django">Django admin</a></li>
</ul>
