<form id="page-entry" action="" method="post">
    {% csrf_token %}
    <div id="page-entry-main">
        <div id="id_text_container">
            {{ form.text|placeholder:"Markdown text…" }}
            <textarea name="html" cols="40" rows="10" id="id_html" spellcheck="false" hidden></textarea>
            <div id="page-entry-meta">
                <div id="page-entry-meta-info">
                    <div id="page-entry-meta-title">
                        <div>
                            {{ form.title|placeholder:"Title" }}
                        </div>
                        <div>
                            {{ form.parent }}
                        </div>
                    </div>
                    <div id="page-entry-meta-desc">
                        {{ form.description|placeholder:"Description" }}
                    </div>
                </div>
                <div id="page-entry-meta-options">
                    <div>
                        {{ form.show_in_nav }}
                        <label for="{{ form.show_in_nav.id_for_label }}">Show in nav</label>
                    </div>
                </div>
            </div>
        </div>
        <div id="id_html_container">
            <h2 id="id_title_preview"></h2>
            <div id="id_html_preview"></div>
        </div>
    </div>
    <div id="page-entry-save">
        <button class="primary" type="submit">
            {% if '_edit' in request.resolver_match.view_name %}Update{% else %}Save{% endif %}
        </button>
    </div>
</form>

<script nonce="{{ request.csp_nonce }}">
    document.addEventListener('DOMContentLoaded', function() {
        marked.use(
            {
                breaks: true,
                pedantic: false,
                gfm: true,
            },
            markedSmartypants.markedSmartypants({ config: "3" })
        );
        const pageEntryTitle = document.getElementById('id_title');
        const pageEntryTitlePreview = document.getElementById('id_title_preview');
        const pageEntryText = document.getElementById('id_text');
        const pageEntryHtmlPreview = document.getElementById('id_html_preview');
        const pageEntryHtmlRaw = document.getElementById('id_html');

        function updateContent() {
            const markdownText = pageEntryText.value;
            let parsedHtml = marked.parse(markdownText);

            pageEntryHtmlPreview.innerHTML = parsedHtml;

            pageEntryHtmlRaw.value = parsedHtml;

            console.log(pageEntryHtmlRaw.value);
        }

        function debounce(func, wait) {
            let timeout;
            return function executedFunction(...args) {
                const later = function() {
                    clearTimeout(timeout);
                    func(...args);
                };
                clearTimeout(timeout);
                timeout = setTimeout(later, wait);
            };
        }

        const debouncedUpdateContent = debounce(updateContent, 100);

        pageEntryText.addEventListener('input', debouncedUpdateContent);

        updateContent();
    });
</script>
