
<form id="post-entry" action="" method="post">
    {% csrf_token %}
    <div id="post-entry-main">
        {{ form.text }}
        <div id="id_html"></div>
    </div>
</form>

<script nonce="{{ request.csp_nonce }}">
    document.addEventListener('DOMContentLoaded', function() {
        marked.use(
                {
                    breaks: true,
                    pedantic: false,
                    gfm: true,
                },
                markedSmartypants.markedSmartypants({ config: "3" })
        );
        const postEntryText = document.getElementById('id_text');
        const postEntryHtml = document.getElementById('id_html');

        function updatePreview() {
            const markdownText = postEntryText.value;
            postEntryHtml.innerHTML = marked.parse(markdownText);
        }

        postEntryText.addEventListener('input', updatePreview);
        updatePreview();
    });
</script>
