<form id="reaction-entry" action="" method="post">
{% csrf_token %}
    <div id="reaction-entry-type">
        {{ form.reaction_type }}
    </div>
    <div id="reaction-entry-url">
        {{ form.react_to_url }}
    </div>
    <div id="reaction-entry-save">
        <button class="primary" type="submit">
            {% if '_edit' in request.resolver_match.view_name %}Update{% else %}Save{% endif %}
        </button>
    </div>
</form>

<div id="reaction-list">
    <ul class="admin-edit-list">
    {% for reaction in reactions %}
        <li>
            <div>
                <p><span class="date reaction-date">{{ reaction.create_date|date:"Y-m-d H:i" }}</span>: {% if reaction.reaction_type == 0 %}liked{% elif reaction_type == 1 %}replied to{% elif reaction_type == 2 %}reposted{% endif %} <a class="u-like-of" href="{{ reaction.react_to_url }}">a post</a> by <a href="{{ reaction.react_to_url|account_url }}">{{ reaction.react_to_url|account_name }}</a></p>
            </div>
            <div title="Delete this {% if reaction.reaction_type == 0 %}like{% elif reaction_type == 1 %}reply{% elif reaction_type == 2 %}repost{% endif %}">
                <button data-object-id="{{ reaction.id }}" class="admin-delete-button icon-svg">{% inline_svg 'img/trash.svg' %}</button>
            </div>
        </li>
    {% endfor %}
    </ul>
</div>

<script nonce="{{ request.csp_nonce }}">
    document.addEventListener('DOMContentLoaded', () => {
        const deleteButtons = document.querySelectorAll('.admin-delete-button');

        deleteButtons.forEach(button => {
            button.addEventListener('click', (e) => {
                e.preventDefault();

                const objectId = button.getAttribute('data-object-id');
                if (!objectId) {
                    console.error('Object ID is null or undefined.');
                    return;
                }

              if (confirm('Are you sure you want to delete this reaction?')) {
                const url = `{% url 'admin_reaction_delete' '00000' %}`.replace('00000', objectId);
                console.log('Attempting to delete object with ID:', objectId, 'URL:', url);

                fetch(url, {
                    method: 'POST',
                    headers: {
                        'X-CSRFToken': '{{ csrf_token }}',
                        'Content-Type': 'application/x-www-form-urlencoded',
                    },
                        body: new URLSearchParams({
                        'csrfmiddlewaretoken': '{{ csrf_token }}'
                    })
                })
                .then(response => {
                    if (response.ok) {
                        window.location.reload();
                    } else {
                        alert('There was an error trying to delete the reaction.');
                    }
                })
                .catch(error => console.error('Error:', error));
              }
            });
        });
    });
</script>



