<footer>
    {% if 'admin' not in request.resolver_match.view_name %}
        {% if request.resolver_match.view_name != 'home' %}
            {% include 'includes/h-card.html' %}
        {% endif %}
        {% if request.resolver_match.view_name != "search" %}
            {% include 'includes/search_form.html' %}
        {% endif %}
        <nav class="footer-links">
            <ul>
                <li><a href="{% url 'reaction_index' %}">Reactions</a></li>
                <li><a href="{% url 'blogroll' %}">Blogroll</a></li>
                <li><a href="{% url 'feed_atom' %}">Feed</a></li>
            </ul>
        </nav>
        <p><a href="https://xn--sr8hvo.ws/previous">←</a> <a href="https://🕸💍.ws/">IndieWeb Webring</a> <a href="https://xn--sr8hvo.ws/next">→</a></p>
    {% endif %}
    <div>{% if user.is_authenticated %}<a href="/admin">Admin</a> &nbsp; &nbsp;•&nbsp; &nbsp; <a href="/django">Django</a> &nbsp; &nbsp;•&nbsp; &nbsp; <form id="admin-logout" action="{% url 'admin_logout' %}" method="post">{% csrf_token %}<button id="admin-logout-button" type="submit">Log Out</button></form>{% else %}&copy; Cam Pegg. You seem nice.{% endif %}</div>
</footer>
