<div class="h-card">
    <img id="avatar" class="u-photo" src="{% static 'img/favicon-256x256.png' %}" alt="A memoji that looks (pretty much) like me">
    {% if request.resolver_match.view_name == "home" %}<h2>{% else %}<p>{% endif %}Hi, I’m <a class="p-name u-url{% if '_detail' in request.resolver_match.view_name %} p-author" rel="author{% endif %}" href="{% url 'home' %}"><span class="p-given-name">Cam</span><span hidden> <span class="p-family-name">Pegg</span></span></a>. {% if request.path == "/" %}</h2><p>{% endif %}<span class="p-note">I like coffee. I don’t like celery. I’m an Aussie expat living in <span class="p-locality">New York City</span>. I know how to spell “<i>onomatopoeia</i>”… and I actually know what it means,&nbsp;too.</span></p>
    <div class="ap-id">
        <a class="u-url" rel="me" href="acct:cam@campegg.com"></a>
        <img class="u-featured" src="/assets/img/ap-header.png">
    </div>
</div>
