<header>
    <h1><a href="{% url 'home' %}" title="Home"><img src="{% static 'img/favicon-64x64.png' %}" alt="A memoji that looks (pretty much) like me"> <b>Cam Pegg</b></a></h1>
    <nav>
        <ul>
        {% if user.is_authenticated %}
            <li><a href="{% url 'admin_dashboard' %}" class="icon-svg">{% inline_svg 'img/settings.svg' %}</a></li>
            {% if 'admin' in request.resolver_match.view_name %}
            <li><a href="/django" target="_blank" class="icon-svg">{% inline_svg 'img/django.svg' %}</a></li>
            {% else %}
            <li><a href="{% url 'archive' %}" class="icon-svg">{% inline_svg 'img/archive.svg' %}</a></li>
            <li><a href="{% url 'page' slug='about' %}" class="icon-svg">{% inline_svg 'img/about.svg' %}</a></li>
            {% endif %}
        {% else %}
            <li><a href="{% url 'archive' %}">Archive</a></li>
            <li><a href="{% url 'page' slug='about' %}">About</a></li>
        {% endif %}
        </ul>
    </nav>
</header>
