/* ---------- colors ---------- */

$white:     #ffffff;
$black:     #000000;
$grey:      #6c7a91;
$blue:      #0054a6;
$azure:     #4299e1;
$indigo:    #4263eb;
$purple:    #ae3ec9;
$pink:      #d6336c;
$red:       #d63939;
$orange:    #f76707;
$yellow:    #f59f00;
$lime:      #74b816;
$green:     #2fb344;
$teal:      #0ca678;
$cyan:      #17a2b8;
